body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  background-color: #f3f4f6;
  color: #111;
}

.app-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  height: 100vh;
  box-sizing: border-box;
}

.task-list {
  flex: 2;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 10px;
  color: #111;
}

.task-detail {
  flex: 1;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  border-left: 1px solid #ddd;
  color: #111;
}

.MuiTableCell-root {
  color: #111 !important;
}

.MuiCheckbox-root {
  color: #6b7280 !important;
}

.MuiCheckbox-root.Mui-checked {
  color: #3b82f6 !important;
}

.new-item-form {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.new-item-form input {
  flex: 1;
  padding: 0.6rem;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.btn {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: #facc15;
  cursor: pointer;
}

.btn:hover {
  background-color: #eab308;
}

.task-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.task-header h1 {
  font-size: 1.8rem;
  margin: 0;
}

.task-date {
  font-size: 0.9rem;
  color: #6b7280;
  background-color: #e5e7eb;
  padding: 0.2rem 0.5rem;
  border-radius: 6px;
}